	<body>
		<div class="mainsection">
			<div class="alignleft">
				<div class="leftsection_inner1">
					<p>ena</p>
					<p>ena</p>
				</div>
				<div class="leftsection_inner2">
					<p>ena</p>
					<p>ena</p>
				</div>
			</div>
			<div class="alignright">
				<p>dva</p>
				<p>dva</p>
				<p>dva</p>
				<p>dva</p>
			</div>
		</div>
