<table>
		  <tr>
			<th>Mesec</th>
			<th>Temperatura</th>
			<th>Št. Meseca</th>
		  </tr>
		  <tr>
			<td>Januar</td>
			<td>5°</td>
			<td>1.</td>
		  </tr>
			<tr>
			<td>Februar</td>
			<td>5°</td>
			<td>2.</td>
		  </tr>
			<tr>
			<td>Marec</td>
			<td>10°</td>
			<td>3.</td>
		  </tr>
			<tr>
			<td>April</td>
			<td>15°</td>
			<td>4.</td>
		  </tr>
			<tr>
			<td>Maj</td>
			<td>15°</td>
			<td>5.</td>
		  </tr>
			<tr>
			<td>Junij</td>
			<td>20°</td>
			<td>6.</td>
		  </tr>
			<tr>
			<td>Julij</td>
			<td>25°</td>
			<td>7.</td>
		  </tr>
		  
		  
		</table>

		<h3>Zdravljica</h3>

		<pre id="sample1">
		   Bog žívi vas Slovenke,
		  prelepe, žlahtne rožice;
			ni take je mladenke,
		   ko naše je krvi dekle;
				naj sinóv
				zarod nov
		iz vas bo strah sovražnikov!
		</pre>
