<h2>Moji hobiji</h2>

		<ul>
		  <li>Programiranje</li>
		  <li>Sprehodi s psi</li>
		  <li>Spanje</li>
		</ul>

		<h2>Meseci v letu</h2>

		<ol>
		  <li>Januar</li>
		  <li>Februar</li>
		  <li>Marec</li>
		  <li>April</li>
		  <li>Maj</li>
		  <li>Junij</li>
		  <li>Julij</li>
		  <li>Avgust</li>
		  <li>September</li>
		  <li>Oktober</li>
		  <li>November</li>
		  <li>December</li>
		</ol>


		<ul>
		  <li>Programiranje</li>
		  <li>Sprehodi s psi</li>
		  <li>Spanje</li>
		</ul>